.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  @media (max-width: 991px) {
    max-width: 720px;
  }
  @media (max-width: 767px) {
    max-width: 540px;
  }
}
.icon-svg {
  height: 16px;
  width: 16px;
  fill: $bg-secondary;
  transition-timing-function: ease-in, ease, linear;
  transition: 0.5s;
  &:hover {
    fill: $tx_secondary;
  }
}
.logo {
  &__svg {
    fill: $tx_secondary;
    width: inherit;
    height: inherit;
    transition-timing-function: ease-in, ease, linear;
    transition: 1s;
    &:hover {
      fill: $bg-primary;
    }
  }
}
.soc {
  &__list {
    display: flex;
  }
  &__item:not(:first-child) {
    margin-left: 30px;
  }
  &__logo {
    height: 20px;
  }
}
.link {
  color: $bg-secondary;
  &:hover {
    color: $bg-secondary-muted;
  }
}
.title {
  font-size: 40px;
  color: $light;
  margin: 0;
  text-align: center;
  &_primary {
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 0.1em;
    @media (max-width: 576px) {
      font-size: 22px;
    }
  }
}
.subtitle {
  font-size: 16px;
  font-weight: 500;
  &_big {
    font-size: 24px;
    @media (max-width: 576px) {
      margin: 7px 0;
    }
  }
  &_bold {
    font-weight: 700;
  }
}
.text {
  color: $primary-muted;
  margin: 0;
  line-height: 27px;
  &_weight {
    &_bold {
      font-weight: 900;
    }
  }
  &_color {
    &_light {
      color: $light;
    }
  }
  &_wide {
    letter-spacing: 1.5px;
  }
  &_little {
    font-size: 12px;
  }
  &_big {
    font-weight: 300;
    font-size: 20px;
  }
  &_secondary {
    font-size: 15px;
    color: $tx_secondary;
  }
  &_bright {
    color: $secondary;
    font-weight: 700;
  }
}
// Menu
.menu {
  &__list {
  }
  &__item {
  }
  &__link {
    line-height: 35px;
    font-weight: 200;
    color: $light-muted;
    &:hover {
      color: $light;
    }
  }
}
.navbar {
  margin: 0;
  &__item {
    display: inline;
    margin-left: 10px;
    position: relative;
  }
  &__link {
    letter-spacing: 1px;
    color: $primary-muted;
    fill: $primary-muted;
    &:hover {
      color: $bg-secondary;
      fill: $bg-secondary;
    }
    @media (max-width: 767px) {
    }
    &_active {
      color: $bg-secondary;
      fill: $bg-secondary;
    }
  }
  &__dropdown-menu:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    position: absolute;
    top: 100%;
  }
  &__svg {
    width: 10px;
    height: 10px;
  }
}
.dropdown-menu {
  z-index: 5;
  box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.25);
  border: 1px solid $dingy;
  border-top: 4px solid $bg-secondary;
  background: #fff;
  min-width: 150px;
  padding: 10px;
  position: absolute;
  left: 0;
  top: 40px;
  opacity: 0;
  visibility: hidden;
  transition: 0.2s 0s;
  &__item {
  }
  &__link {
    transition: visibility 0s;
    transition: color 0.3s;
    padding: 5px;
    display: block;
  }
}
.backg {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 49;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
  &_active {
    visibility: visible;
    opacity: 1;
  }
}
.mobile-menu {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 100%;
  padding: 20px;
  background: $bg-primary-muted;
  height: 100%;
  width: 300px;
  box-sizing: border-box;
  transition: 0.3s;
  overflow: auto;
  scrollbar-width: none;
  & ::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  &__inner {
  }
  &__item {
  }
  &__cross-svg {
    margin-bottom: 20px;
    position: relative;
    left: 220px;
    fill: $primary-muted;
    width: 30px;
    height: 30px;
    &:hover {
      cursor: pointer;
    }
  }
  &__link {
    padding: 10px;
    display: block;
    font-size: 20px;
    line-height: 34px;
  }
  &_active {
    transform: translateX(-100%);
  }
}
.m-sub-menu {
  display: none;
  &__item {
  }
}
.col {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: 0;
}
.row {
  display: flex;
  flex-wrap: wrap;
  &__item-2 {
    flex: 1 0 50%;
    box-sizing: border-box;
  }
  &__item-3 {
    flex: 0 0 33.333333%;
    box-sizing: border-box;
  }
  &__item-4 {
    flex: 1 0 25%;
    box-sizing: border-box;
  }
}
.card {
  box-sizing: border-box;
  background: $light;
  &__title {
    display: block;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: $light;
    &_normal {
      margin-bottom: 0;
      color: $bg-secondary;
      font-size: 20px;
    }
  }
  &__body {
    padding: 20px 20px 40px;
    &_little {
      padding: 0;
    }
  }
  &__img {
    max-width: 100%;
    display: block;
  }
  &_transparent {
    background: transparent;
  }
}
.pagination {
  display: inline-flex;
  align-items: center;
  @media (max-width: 576px) {
    display: block;
    text-align: center;
  }
  &__item {
    width: 50px;
    line-height: 50px;
    border: 1px solid $dingy;
    border-radius: 50%;
    background: $light;
    text-align: center;
    margin: 0 10px;
    color: $primary;
    @media (max-width: 576px) {
      display: inline-block;
      margin: 5px 0;
    }
    &_active {
      border: 1px solid transparent;
      background: $bg-secondary;
      color: $light;
    }
    &:hover {
      box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1);
      border: 1px solid $focus;
    }
  }
}
.breadcrumb {
  display: flex;
  &__separator {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: $light;
    margin: auto 0;
  }
  &__item {
    margin: 10px;
    &_active {
      font-weight: 700;
      color: $light;
    }
  }
}
.slider {
  &__item {
    margin-bottom: 16px;
  }
  &__inner {
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 50%;
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: $light;
  }
}

.product {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  min-height: 200px;
  &:hover &__inner {
    bottom: 0;
  }
  &__inner {
    width: 100%;
    z-index: 1;
    transition-timing-function: ease-in, ease, linear;
    transition: 0.5s;
    position: absolute;
    bottom: -60px;
    &::before {
      background: linear-gradient(
        to bottom,
        transparent 0%,
        transparent 18%,
        rgba(0, 0, 0, 0.8) 99%,
        rgba(0, 0, 0, 0.8) 100%
      );
      content: "";
      z-index: -1;
      position: absolute;
      top: 0px;
      right: 0;
      bottom: 0px;
      left: 0;
    }
  }
  &__top {
    padding: 20px 15px;
  }
  &__link {
  }
  &__price {
    border-radius: 4px;
    background: #f89d13;
    color: #fff;
    padding: 4px 10px;
    display: inline-block;
    margin-bottom: 20px;
  }
  &__title {
    margin: 0;
    color: $light;
    font-size: 18px;
    font-weight: 900;
  }
  &__info {
    font-size: 15px;
    color: $dingy;
  }
}
.more-info {
  width: 100%;
  z-index: 4;
  background: $bg-secondary;
  padding: 10px 0;
  color: $light;
  font-size: 12px;
  font-weight: 700;
  &__inner {
    flex-grow: 1;
    max-width: 100%;
  }
  &__title {
    color: $primary-muted;
    display: block;
    padding-bottom: 5px;
  }
  &__text {
  }
}
.form {
  padding: 30px 20px;
  border: 1px solid $dingy;
  &__inner {
  }
  &__item {
    padding: 10px 0;
    color: $primary-muted;
  }
  &__subtitle {
    font-weight: 700;
    margin-bottom: 5px;
  }
  &__text {
  }
  &__message {
  }
  &__textarea {
    resize: vertical;
  }
  &__submit {
  }
  &__element {
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-family: "Nunito Sans", sans-serif;
    &:focus,
    &:active {
      outline: none;
      border: $bg-secondary solid 1px;
    }
  }
}
.btn {
  display: inline-block;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  border-radius: 0;
  border: none;
  padding: 10px;
  background: $bg-secondary;
  color: $light;
  transition-timing-function: ease-in, ease, linear;
  transition: 0.5s;
  &:hover,
  &:focus,
  &:active {
    border: none;
    outline: none;
    background: $bg-secondary-muted;
    cursor: pointer;
  }
}
.contacts {
  padding: 40px 10px;
  &__item {
    padding-bottom: 15px;
  }
}
.user {
  border: $dingy solid 1px;
  background: $bg-primary-muted;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  min-width: 200px;
  &__inner {
  }
  &__name {
    color: $secondary;
    font-weight: 700;
  }
  &__icon {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
}
.list {
  width: 100%;
  &__item {
    margin-bottom: 7px;
  }
  &__text {
    display: inline-block;
    @media (max-width: 576px) {
      width: 60%;
    }
  }
}
.hideScrl {
  margin-right: 17px;
}
.lock {
  overflow: hidden;
}
