// оболочка для секций страницы
.container {
  max-width: 1140px; /*использовать миксины медиазапросв тут вдальнейшем?*/
  margin: 0 auto;
  padding: 0 10px;
}
.icon-svg {
  height: 24px;
  width: 24px;
}
.navbar {
  margin: 0;
  &__item {
    display: inline;
    margin-left: 10px;
  }
  &__link {
    letter-spacing: 1px;
    color: $primary-muted;
    &:hover {
      color: $bg-secondary;
    }
  }
}
.dropdown-menu {
  display: none;
}
.logo {
  &__svg {
    width: inherit;
    height: inherit;
  }
}
.soc {
  &__list {
    display: flex;
  }
  &__item {
    margin-right: 30px;
  }
  &__logo {
    height: 20px;
  }
}
.title {
  font-size: 40px;
  color: $light;
  margin: 0;
}
.text {
  color: $primary-muted;
  margin: 0;
  line-height: 27px;
  &_little {
    font-size: 12px;
  }
}
.menu {
  &__list {
  }
  &__item {
  }
  &__link {
    line-height: 35px;
    font-weight: 200;
    color: $light-muted;
    &:hover {
      color: $light;
    }
  }
}
.row {
  display: flex;
  flex-wrap: wrap;
  &__item-2 {
    flex: 1 0 50%;
    box-sizing: border-box;
  }
  &__item-3 {
    flex: 0 0 33.333333%;
    box-sizing: border-box;
  }
  &__item-4 {
    flex: 1 0 25%;
    box-sizing: border-box;
  }
  //justify-content
  &__start {
    justify-content: flex-end;
  }
  &__center {
    justify-content: center;
  }
  &__spbw {
    justify-content: space-between;
  }
  &__spad {
    justify-content: space-around;
  }
}
.card {
  box-sizing: border-box;
  background: $light;
  &__title {
    display: block;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: $light;
    &_normal {
      margin-bottom: 0;
      color: $bg-secondary;
      font-size: 20px;
    }
  }
  &__body {
    padding: 20px 20px 40px;
    &_little {
      padding: 0;
    }
  }
  &__img {
    max-width: 100%;
  }
  &_transparent {
    background: transparent;
  }
}
.link {
  color: $bg-secondary;
  &:hover {
    color: $bg-secondary-muted;
  }
}
.btn {
  // padding: 10px;
  display: inline-block;
  background: $light;
  border: solid 1px $dingy;
  margin: 5px;
  text-align: center;
  &_secondary {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}
.pagination {
  display: inline-flex;
  align-items: center;
  &__item {
    width: 50px;
    line-height: 50px;
    border: 1px solid $dingy;
    border-radius: 50%;
    background: $light;
    text-align: center;
    margin: 0 10px;
    &_active {
      border: 1px solid transparent;
      background: #f89d13;
      color: #fff;
    }
    &:hover {
      box-shadow: 0 4px 10px -1px rgba(0, 0, 0, 0.1);
      border: 1px solid $focus;
    }
  }
}
.breadcrumb {
  display: flex;
  &__separator {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: $light;
    margin: auto 0;
  }
  &__item {
    margin: 10px;
    &_active {
      font-weight: 700;
      color: $light;
    }
  }
}
