.contacts-page {
  background: $bg-primary-muted;
  padding-top: 50px;
  &__item {
    flex-basis: 65%;
    max-width: 65%;
    padding: 20px;
    box-sizing: border-box;
  }
  &__contacts {
    padding: 20px;
  }
  &__col {
    @media (max-width: 991px) {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}
