.footer {
  background: $bg-primary;
  padding: 100px 0;
  &__subtitle {
    position: relative;
    letter-spacing: 2.6px;
    &::before {
      content: "";
      background: #fff;
      width: 40px;
      height: 2px;
      position: absolute;
      bottom: 0;
    }
  }
  &__item {
    padding: 0 10px;
    box-sizing: border-box;
  }
}
