<section class="page-404">
    <div class="container">
        <div class="row page-404__row">
            <div class="row__item-2 page-404__item page-404__item_background">
                <h1 class="title_primary">Страница не найдена</h1>
                <p class="text">
                    Возможно, вы ошиблись адресом, или данная страница более не существует
                </p>
                <div class="row">
                    <a href="#" class="btn page-404__btn">На главную</a>
                </div>
            </div>
            <div class="row__item-2 page-404__item">
                <div class="wrap">
                    <span class="page-404__trans">404</span>
                </div>
            </div>
        </div>
    </div>
</section>