<section class="blog">
    <div class="container">
        <div class="row">
            <div class="row__item-3">
                <div class="card blog__card">
                    <a href="#">
                        <img class="card__img" src="../../img/650x450.png" alt="blog">
                    </a>
                    <div class="card__body">
                        <div class="text text_little">JAN 20TH, 2019</div>
                        <div class="card__title card__title_normal">
                            <a href="#" class="link">
                                Когда продать и за сколько продать?
                            </a>
                        </div>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias enim, ipsa exercitationem
                            veniam
                            quae sunt.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row__item-3">
                <div class="card blog__card">
                    <a href="#">
                        <img class="card__img" src="../../img/hero_bg_2.jpg" alt="blog">
                    </a>
                    <div class="card__body">
                        <div class="text text_little">JAN 20TH, 2019</div>
                        <div class="card__title card__title_normal">
                            <a href="#" class="link">
                                Когда продать и за сколько продать?
                            </a>
                        </div>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias enim, ipsa exercitationem
                            veniam
                            quae sunt.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row__item-3">
                <div class="card blog__card">
                    <a href="#">
                        <img class="card__img" src="../../img/650x450.png" alt="blog">
                    </a>
                    <div class="card__body">
                        <div class="text text_little">JAN 20TH, 2019</div>
                        <div class="card__title card__title_normal">
                            <a href="#" class="link">
                                Когда продать и за сколько продать?
                            </a>
                        </div>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias enim, ipsa exercitationem
                            veniam
                            quae sunt.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row__item-3">
                <div class="card blog__card">
                    <a href="#">
                        <img class="card__img" src="../../img/1920x700.png" alt="blog">
                    </a>
                    <div class="card__body">
                        <div class="text text_little">JAN 20TH, 2019</div>
                        <div class="card__title card__title_normal">
                            <a href="#" class="link">
                                Когда продать и за сколько продать?
                            </a>
                        </div>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias enim, ipsa exercitationem
                            veniam
                            quae sunt.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row__item-3">
                <div class="card blog__card">
                    <a href="#">
                        <img class="card__img" src="../../img/650x450.png" alt="blog">
                    </a>
                    <div class="card__body">
                        <div class="text text_little">JAN 20TH, 2019</div>
                        <div class="card__title card__title_normal">
                            <a href="#" class="link">
                                Когда продать и за сколько продать?
                            </a>
                        </div>
                        <p class="text">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias enim, ipsa exercitationem
                            veniam
                            quae sunt.
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="pagination blog__pagination">
                <a href="#" class="pagination__item pagination__item_active">
                    1
                </a>
                <a href="#" class="pagination__item">2</a>
                <a href="#" class="pagination__item">3</a>
                <a href="#" class="pagination__item">4</a>
                <a href="#" class="pagination__item">5</a>
                <span>...</span>
                <a href="#" class="pagination__item">10</a>
            </div>
        </div>

    </div>
</section>