<section class="contacts-page">
    <div class="container">
        <div class="row">
            <div class="contacts-page__item contacts-page__col">
                <div class="form">
                    <form class="form__inner" action="">
                        <div class="col">
                            <div class="form__item col">
                                <label for="name" class="form__subtitle">
                                    Ваше Имя
                                </label>
                                <input id="name" type="text" class="form__text form__element" form__element
                                    placeholder="Ваше Имя">
                            </div>
                            <div class="form__item col">
                                <label for="email" class="form__subtitle">
                                    Ваша Электронная Почта
                                </label>
                                <input id="email" type="email" class="form__message form__element"
                                    placeholder="Ваша Электронная Почта">
                            </div>
                            <div class="form__item col">
                                <label for="subject" class="form__subtitle">
                                    Тема Сообщения
                                </label>
                                <input id="subject" type="text" class="form__text form__element"
                                    placeholder="Тема Сообщения">
                            </div>
                            <div class="form__item col">
                                <label for="message" class="form__subtitle">
                                    Сообщение
                                </label>
                                <textarea id="message" name="message" id="message" cols="30" rows="5"
                                    class="form__textarea form__element" placeholder="Ваше сообщение"></textarea>
                            </div>
                            <div class="form__item col">
                                <div class="wrap">
                                    <input class="form__submit form__element btn" type="submit"
                                        value="Отправить сообщение">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row__item-3 contacts-page__col">
                <div class="contacts">
                    <div class="col">
                        <h3 class="subtitle">КОНТАКТНАЯ ИНФОМАЦИЯ</h3>
                        <div class="soc contacts__item">
                            <ul class="soc__list">
                                <li class="soc__item">
                                    <a class="soc__link" href="#">
                                        <svg class="icon-svg">
                                            <use xlink:href='#twitter' />
                                        </svg>
                                    </a>
                                </li>
                                <li class="soc__item">
                                    <a class="soc__link" href="#">
                                        <svg class="icon-svg">
                                            <use xlink:href='#vk' />
                                        </svg>
                                    </a>
                                </li>
                                <li class="soc__item">
                                    <a class="soc__link" href="#">
                                        <svg class="icon-svg">
                                            <use xlink:href='#instagram' />
                                        </svg>
                                    </a>
                                </li>
                                <li class="soc__item">
                                    <a class="soc__link" href="#">
                                        <svg class="icon-svg">
                                            <use xlink:href='#facebook' />
                                        </svg>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <p class="text subtitle_bold">Телефон</p>
                        <div class="contacts__item">
                            <a href="tel:+1 232 3235 324" class="link">
                                +1 232 3235 324
                            </a>
                        </div>
                        <p class="text subtitle_bold">
                            Почтовый ящик
                        </p>
                        <div class="contacts__item">
                            <a href="mailto:info@domain.com" class="link">youremail@domain.com
                            </a>
                        </div>
                        <p class="text subtitle_bold">Адресс</p>
                        <p class="text contacts__item">
                            203 Fake St. Mountain View, San Francisco, California, USA
                        </p>
                        <div class="wrap contacts__item">
                            <button class="btn">На Карте</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h1>Карта</h1>
            <div><img class="card__img" src="../../img/1920x700.png" alt="Карта"></div>
        </div>
    </div>

</section>