<footer class="footer">

    <div class="container row">
        <div class="footer__item row__item-3">
            <div class="card card_transparent">
                <span class="card__title footer__subtitle">О НАС</span>
                <div class="card__body card__body_little">
                    <p class="text">Lorem ipsum dolor sit amet consectetur
                        dipisicing elit. Veritatis perferendis,
                        suscipit exercitationem hic autem repudiandae nobis reiciendis, pariatur odio perspiciatis quae
                        ipsam
                        ipsum adipisci natus commodi corporis nostrum magni deserunt!
                    </p>
                </div>
            </div>
        </div>
        <div class="footer__item row__item-3">
            <div class="card card_transparent">
                <span class="card__title footer__subtitle">МЕНЮ САЙТА</span>
                <div class="card__body card__body_little row">
                    <div class="menu row__item-2">
                        <ul class="menu__list row__item-3">
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    На главную
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    Продажа
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    Аренда
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    Недвижимость
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu row__item-2">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    О нас
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    Контакты
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    Условия
                                </a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">
                                    Политика конфиденциальности
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer__item row__item-3">
            <div class="card card_transparent">
                <span class="card__title footer__subtitle">ВСТУПАЙ!</span>
                <div class="card__body card__body_little">
                    <div class="soc">
                        <ul class="soc__list">
                            <li class="soc__item">
                                <a class="soc__link" href="#">
                                    <svg class="icon-svg">
                                        <use xlink:href='#twitter' />
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link" href="#">
                                    <svg class="icon-svg">
                                        <use xlink:href='#vk' />
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link" href="#">
                                    <svg class="icon-svg">
                                        <use xlink:href='#instagram' />
                                    </svg>
                                </a>
                            </li>
                            <li class="soc__item">
                                <a class="soc__link" href="#">
                                    <svg class="icon-svg">
                                        <use xlink:href='#facebook' />
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>