<header class="header">
	<div class="wrap header__wrap">
		<div class="container">
			<div class="header__top header__container">
				<div class="header__inner row">
					<a class="header__contacts link" href="tel:+2 102 3923 3922">
						<svg class="icon-svg header__icon-svg">
							<use xlink:href='#phone' />
						</svg>
						<span class="header__item">+2 102 3923 3922</span>
					</a>
					<a class="header__contacts link" href="mailto:info@domain.com">
						<svg class="icon-svg header__icon-svg">
							<use xlink:href='#mail' />
						</svg>
						<span class="header__item">info@domain.com</span>
					</a>
				</div>
				<div class="header__inner">
					<div class="soc">
						<ul class="soc__list">
							<li class="soc__item">
								<a class="soc__link" href="#">
									<svg class="icon-svg">
										<use xlink:href='#twitter' />
									</svg>
								</a>
							</li>
							<li class="soc__item">
								<a class="soc__link" href="#">
									<svg class="icon-svg">
										<use xlink:href='#vk' />
									</svg>
								</a>
							</li>
							<li class="soc__item">
								<a class="soc__link" href="#">
									<svg class="icon-svg">
										<use xlink:href='#instagram' />
									</svg>
								</a>
							</li>
							<li class="soc__item">
								<a class="soc__link" href="#">
									<svg class="icon-svg">
										<use xlink:href='#facebook' />
									</svg>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="header__container header__bottom">
			<a class="logo header__logo" href="#">
				<svg class="logo__svg">
					<use xlink:href='#logo' />
				</svg>
			</a>

			<div class="col">
				<div id="backg" class="backg header__backg"></div>
				<div id="mobileMenu" class="mobile-menu header__mobile-menu col">
					<ul class="mobile-menu__inner">
						<svg id="mobileMenuCross" class="mobile-menu__cross-svg">
							<use xlink:href='#cross' />
						</svg>
						<li class="mobile-menu__item">
							<a href="#" class="mobile-menu__link navbar__link">Главная</a>
						</li>
						<li class="mobile-menu__item">
							<a href="#" class="mobile-menu__link navbar__link">Недвижимость
								<ul class="m-sub-menu">
									<li class="m-sub-menu__item">
										<a href="#" class="mobile-menu__link navbar__link">
											Купить
										</a>
									</li>
									<li class="m-sub-menu__item">
										<a href="#" class="mobile-menu__link navbar__link">
											Продать
										</a>
									</li>
									<li class="m-sub-menu__item">
										<a href="#" class="mobile-menu__link navbar__link">
											Снять
										</a>
									</li>
									<li class="m-sub-menu__item">
										<a href="#" class="mobile-menu__link navbar__link">
											Сдать
										</a>
									</li>
								</ul>
							</a>
						</li>
						<li class="mobile-menu__item">
							<a href="#" class="mobile-menu__link navbar__link navbar__link_active">Блог</a>
						</li>
						<li class="mobile-menu__item">
							<a href="#" class="mobile-menu__link navbar__link">О нас</a>
						</li>
						<li class="mobile-menu__item">
							<a href="#" class="mobile-menu__link navbar__link">Контакты</a>
						</li>
					</ul>
				</div>
			</div>
			<svg id="navbar__togle" class="header__burger-svg">
				<use xlink:href='#burger' />
			</svg>
			<ul class="navbar header__navbar">
				<li class="navbar__item">
					<a class="navbar__link navbar__link_active" href="#">Главная</a>
				</li>
				<li class="navbar__item navbar__dropdown-menu">
					<a class="navbar__link" href="#">
						Недвижимость
						<svg class="navbar__svg">
							<use xlink:href='#down' />
						</svg>
						<ul class="dropdown-menu">
							<li class="dropdown-menu__item">
								<a class="dropdown-menu__link navbar__link" href="1">Купить</a>
							</li>
							<li class="dropdown-menu__item">
								<a class="dropdown-menu__link navbar__link" href="1">Продать</a>
							</li>
							<li class="dropdown-menu__item">
								<a class="dropdown-menu__link navbar__link" href="1">Сдать</a>
							</li>
							<li class="dropdown-menu__item">
								<a class="dropdown-menu__link navbar__link" href="1">Снять</a>
							</li>
						</ul>
					</a>
				</li>
				<li class="navbar__item">
					<a class="navbar__link" href="#">Блог</a>
				</li>
				<li class="navbar__item">
					<a class="navbar__link" href="#">О нас</a>
				</li>
				<li class="navbar__item">
					<a class="navbar__link" href="#">Контакты</a>
				</li>
			</ul>
		</div>
	</div>

</header>