<section class="page-title">
    <div class="container page-title__conatiner">
        <h1 class="title">Наш Блог</h1>
        <nav>
            <ul class="breadcrumb">
                <li class="breadcrumb__item">
                    <a href="#" class="link">Главная</a>
                </li>
                <span class="breadcrumb__separator"></span>
                <li class="breadcrumb__item breadcrumb__item_active">
                    Блог
                </li>
            </ul>
        </nav>
    </div>
</section>