<section class="product-page">
    <div class="container">
        <div class="row">
            <div class="row__item-2">
                <div class="col">
                    <div><img style="width: 100%;" src="../../img/img_8.jpg" alt="owl"></div>
                </div>
                <div class="row">
                    <img style="width: 80px; padding: 10px;" src="../../img/img_8.jpg" alt="gallery" class="gallery">
                    <img style="width: 80px; padding: 10px;" src="../../img/img_8.jpg" alt="gallery" class="gallery">
                    <img style="width: 80px; padding: 10px;" src="../../img/img_8.jpg" alt="gallery" class="gallery">
                </div>
                <div class="row">
                    <div class="row__item-2">
                        <span class="text_bright product-page__price">$1,000,500</span>
                    </div>
                    <div class="row__item-2 product-page__element">
                        <div class="row">
                            <div class="row__item-3">
                                <div class="text_secondary text_wide ">Цена за м²</div>
                                <span>300$</span>
                            </div>
                            <div class="row__item-3">
                                <div class="text_secondary text_wide ">Площадь</div>
                                <span>52</span>
                            </div>
                            <div class="row__item-3">
                                <div class="text_secondary text_wide ">Комнат</div>
                                <span>3</span>
                            </div>
                            <div class="row__item-3"></div>
                            <div class="row__item-3"></div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="row">
                        <h3 class="subtitle subtitle_big">Информация</h3>
                    </div>
                    <div class="row product-page__item product-page__info">
                        <ul class="list product-page__list">
                            <li class="list__item">
                                <span class="list__text text">Тип дома:</span>
                                панельный
                            </li>
                            <li class="list__item">
                                <span class="list__text text">Тип жилья:</span>
                                квартира
                            </li>
                            <li class="list__item">
                                <span class="list__text text">Этаж:</span>
                                3 из 16
                            </li>
                            <li class="list__item">
                                <span class="list__text text">Количество комнат:</span>
                                5
                            </li>
                            <li class="list__item">
                                <span class="list__text text">Общая площадь:</span>
                                40.3 м²
                            </li>
                            <li class="list__item">
                                <span class="list__text text">Жилая площадь:</span>
                                27.7 м²
                            </li>
                            <li class="list__item">
                                <span class="list__text text">Вид из окна:</span>
                                во двор
                            </li>
                            <li class="list__item">
                                <span class="list__text text">
                                    Есть балкон или лоджия
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="col product-page__item">
                        <div class="subtitle">
                            Челябинская область, Челябинск, Комсомольский пр-т, 46
                        </div>
                        <div class="subtitle">
                            р-н Курчатовский
                        </div>
                    </div>
                    <div class="wrap">
                        КАРТА
                        <div><img style="width: 100%;" src="../../img/map.jpg" alt="owl"></div>
                    </div>
                    <div class="row">
                        <h3 class="subtitle subtitle_big">Больше информации</h3>
                        <p class="text">
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptas deserunt
                            architecto eveniet obcaecati soluta, vel impedit necessitatibus voluptates eum fugiat, autem
                            illo enim maiores ab mollitia molestias. Tempore, aliquam saepe!
                        </p>
                    </div>
                </div>
            </div>
            <div class="row__item-4 col product-page__inner">
                <div class="row product-page__wrap">
                    <div class="user">
                        <div class="user__inner">
                            <div class="user__name text">Алексей</div>
                            <div class="text">Частное лицо</div>
                        </div>
                        <div class="wrap">
                            <img class="user__icon" src="../../img/avatar.jpg" alt="avatar">
                        </div>
                    </div>
                </div>
                <div class="wrap product-page__wrap">
                    <a href="tel: +2 102 3923 3922 " class="btn">
                        +2 102 3923 3922
                    </a>
                </div>
                <div class="row product-page__wrap">
                    <div style="width: 100%; height: 300px; background: rebeccapurple;">
                        КАЛЬКУЛЯТОР
                    </div>
                </div>
            </div>
        </div>
        <h1 class="title_primary">
            Похожие объявления
        </h1>
        <div class="row">
            <div class="row__item-3 products-section__item">
                <div class="product">
                    <a href="#" class="product__link">
                        <div class="card">
                            <img src="../../img/650x450.png" alt="product" class="card__img">
                        </div>
                        <div class="product__inner">
                            <div class="product__top">
                                <span class="product__price">
                                    $4,222,000
                                </span>
                                <h3 class="product__title">
                                    Студия, 31 м², 11/20 эт.
                                </h3>
                                <span class="product__info">
                                    Челябинск, Сосновский р-н
                                </span>
                            </div>
                            <div class="more-info">
                                <div class="row products-section__row">
                                    <div class="more-info__inner">
                                        <span class="more-info__title">
                                            Тип дома
                                        </span>
                                        <span class="more-info__text">
                                            панельный
                                        </span>
                                    </div>
                                    <div class="more-info__inner">
                                        <span class="more-info__title">
                                            Отделка
                                        </span>
                                        <span class="more-info__text">
                                            чистовая
                                        </span>
                                    </div>
                                    <div class="more-info__inner">
                                        <span class="more-info__title">
                                            Продавец
                                        </span>
                                        <span class="more-info__text">
                                            агенство
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row__item-3 products-section__item">
                <div class="product">
                    <a href="#" class="product__link">
                        <div class="card">
                            <img src="../../img/650x450.png" alt="product" class="card__img">
                        </div>
                        <div class="product__inner">
                            <div class="product__top">
                                <span class="product__price">
                                    $4,222,000
                                </span>
                                <h3 class="product__title">
                                    Студия, 31 м², 11/20 эт.
                                </h3>
                                <span class="product__info">
                                    Челябинск, Сосновский р-н
                                </span>
                            </div>
                            <div class="more-info">
                                <div class="row products-section__row">
                                    <div class="more-info__inner">
                                        <span class="more-info__title">
                                            Тип дома
                                        </span>
                                        <span class="more-info__text">
                                            панельный
                                        </span>
                                    </div>
                                    <div class="more-info__inner">
                                        <span class="more-info__title">
                                            Отделка
                                        </span>
                                        <span class="more-info__text">
                                            чистовая
                                        </span>
                                    </div>
                                    <div class="more-info__inner">
                                        <span class="more-info__title">
                                            Продавец
                                        </span>
                                        <span class="more-info__text">
                                            агенство
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row__item-3 products-section__item">
                <div class="product">
                    <a href="#" class="product__link">
                        <div class="card">
                            <img src="../../img/650x450.png" alt="product" class="card__img">
                        </div>
                        <div class="product__inner">
                            <div class="product__top">
                                <span class="product__price">
                                    $4,222,000
                                </span>
                                <h3 class="product__title">
                                    Студия, 31 м², 11/20 эт.
                                </h3>
                                <span class="product__info">
                                    Челябинск, Сосновский р-н
                                </span>
                            </div>
                            <div class="more-info">
                                <div class="row products-section__row">
                                    <div class="more-info__inner">
                                        <span class="more-info__title">
                                            Тип дома
                                        </span>
                                        <span class="more-info__text">
                                            панельный
                                        </span>
                                    </div>
                                    <div class="more-info__inner">
                                        <span class="more-info__title">
                                            Отделка
                                        </span>
                                        <span class="more-info__text">
                                            чистовая
                                        </span>
                                    </div>
                                    <div class="more-info__inner">
                                        <span class="more-info__title">
                                            Продавец
                                        </span>
                                        <span class="more-info__text">
                                            агенство
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>