<section class="products-section">
    <div class="container">
        <h2 class="title_primary products-section__title">
            НОВАЯ НЕДВИЖИМОСТЬ ДЛЯ ВАС
        </h2>
    </div>
    <div class="container row">
        <div class="row__item-3 products-section__item">
            <div class="product">
                <a href="#" class="product__link">
                    <div class="card">
                        <img src="../../img/650x450.png" alt="product" class="card__img">
                    </div>
                    <div class="product__inner">
                        <div class="product__top">
                            <span class="product__price">
                                $4,222,000
                            </span>
                            <h3 class="product__title">
                                Студия, 31 м², 11/20 эт.
                            </h3>
                            <span class="product__info">
                                Челябинск, Сосновский р-н
                            </span>
                        </div>
                        <div class="more-info">
                            <div class="row products-section__row">
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Тип дома
                                    </span>
                                    <span class="more-info__text">
                                        панельный
                                    </span>
                                </div>
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Отделка
                                    </span>
                                    <span class="more-info__text">
                                        чистовая
                                    </span>
                                </div>
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Продавец
                                    </span>
                                    <span class="more-info__text">
                                        агенство
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row__item-3 products-section__item">
            <div class="product">
                <a href="#" class="product__link">
                    <div class="card">
                        <img src="../../img/650x450.png" alt="product" class="card__img">
                    </div>
                    <div class="product__inner">
                        <div class="product__top">
                            <span class="product__price">
                                $4,222,000
                            </span>
                            <h3 class="product__title">
                                Студия, 31 м², 11/20 эт.
                            </h3>
                            <span class="product__info">
                                Челябинск, Сосновский р-н
                            </span>
                        </div>
                        <div class="more-info">
                            <div class="row products-section__row">
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Тип дома
                                    </span>
                                    <span class="more-info__text">
                                        панельный
                                    </span>
                                </div>
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Отделка
                                    </span>
                                    <span class="more-info__text">
                                        чистовая
                                    </span>
                                </div>
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Продавец
                                    </span>
                                    <span class="more-info__text">
                                        агенство
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row__item-3 products-section__item">
            <div class="product">
                <a href="#" class="product__link">
                    <div class="card">
                        <img src="../../img/650x450.png" alt="product" class="card__img">
                    </div>
                    <div class="product__inner">
                        <div class="product__top">
                            <span class="product__price">
                                $4,222,000
                            </span>
                            <h3 class="product__title">
                                Студия, 31 м², 11/20 эт.
                            </h3>
                            <span class="product__info">
                                Челябинск, Сосновский р-н
                            </span>
                        </div>
                        <div class="more-info">
                            <div class="row products-section__row">
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Тип дома
                                    </span>
                                    <span class="more-info__text">
                                        панельный
                                    </span>
                                </div>
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Отделка
                                    </span>
                                    <span class="more-info__text">
                                        чистовая
                                    </span>
                                </div>
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Продавец
                                    </span>
                                    <span class="more-info__text">
                                        агенство
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row__item-3 products-section__item">
            <div class="product">
                <a href="#" class="product__link">
                    <div class="card">
                        <img src="../../img/650x450.png" alt="product" class="card__img">
                    </div>
                    <div class="product__inner">
                        <div class="product__top">
                            <span class="product__price">
                                $4,222,000
                            </span>
                            <h3 class="product__title">
                                Студия, 31 м², 11/20 эт.
                            </h3>
                            <span class="product__info">
                                Челябинск, Сосновский р-н
                            </span>
                        </div>
                        <div class="more-info">
                            <div class="row products-section__row">
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Тип дома
                                    </span>
                                    <span class="more-info__text">
                                        панельный
                                    </span>
                                </div>
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Отделка
                                    </span>
                                    <span class="more-info__text">
                                        чистовая
                                    </span>
                                </div>
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Продавец
                                    </span>
                                    <span class="more-info__text">
                                        агенство
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row__item-3 products-section__item">
            <div class="product">
                <a href="#" class="product__link">
                    <div class="card">
                        <img src="../../img/img_8.jpg" alt="product" class="card__img">
                    </div>
                    <div class="product__inner">
                        <div class="product__top">
                            <span class="product__price">
                                $4,222,000
                            </span>
                            <h3 class="product__title">
                                Студия, 31 м², 11/20 эт.
                            </h3>
                            <span class="product__info">
                                Челябинск, Сосновский р-н
                            </span>
                        </div>
                        <div class="more-info">
                            <div class="row products-section__row">
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Тип дома
                                    </span>
                                    <span class="more-info__text">
                                        панельный
                                    </span>
                                </div>
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Отделка
                                    </span>
                                    <span class="more-info__text">
                                        чистовая
                                    </span>
                                </div>
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Продавец
                                    </span>
                                    <span class="more-info__text">
                                        агенство
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row__item-3 products-section__item">
            <div class="product">
                <a href="#" class="product__link">
                    <div class="card">
                        <img src="../../img/" alt="product" class="card__img">
                    </div>
                    <div class="product__inner">
                        <div class="product__top">
                            <span class="product__price">
                                $4,222,000
                            </span>
                            <h3 class="product__title">
                                Студия, 31 м², 11/20 эт.
                            </h3>
                            <span class="product__info">
                                Челябинск, Сосновский р-н
                            </span>
                        </div>
                        <div class="more-info">
                            <div class="row products-section__row">
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Тип дома
                                    </span>
                                    <span class="more-info__text">
                                        панельный
                                    </span>
                                </div>
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Отделка
                                    </span>
                                    <span class="more-info__text">
                                        чистовая
                                    </span>
                                </div>
                                <div class="more-info__inner">
                                    <span class="more-info__title">
                                        Продавец
                                    </span>
                                    <span class="more-info__text">
                                        агенство
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="pagination blog__pagination">
            <a href="#" class="pagination__item pagination__item_active">
                1
            </a>
            <a href="#" class="pagination__item">2</a>
            <a href="#" class="pagination__item">3</a>
            <a href="#" class="pagination__item">4</a>
            <a href="#" class="pagination__item">5</a>
            <span>...</span>
            <a href="#" class="pagination__item">10</a>
        </div>
    </div>

</section>