<section class="slider-section">

    <div class="slider">
        <img class="slider__img" src="../../img/1920x700.png" alt="slide">
        <div class="slider__inner">
            <span class="slider__item text_big">853 S Lucerne Blvd</span>
            <span class="slider__item text_secondary">
                Los Angeles, CA 90005
            </span>
            <span class="slider__item text_big text_bright">$2,250,500</span>
            <span>
                <a class="slider__item link text_little text_wide" href="#">
                    БОЛЬШЕ ДЕТАЙЛЕЙ
                </a>
            </span>
        </div>
    </div>

</section>