<section>
    <div>
        <img style="width: 100%;" src="../../img/1920x700.png" alt="ssss">
    </div>
    <div class="container">
        <div>
            <img style="width: 100%;" src="../../img/1920x700.png" alt="ssss">
        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati unde officiis veniam a. Itaque aut quis
            distinctio vero officia similique ipsa corrupti perspiciatis? Voluptates dolorum, at fugiat impedit illum
            natus.
        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati unde officiis veniam a. Itaque aut quis
            distinctio vero officia similique ipsa corrupti perspiciatis? Voluptates dolorum, at fugiat impedit illum
            natus.
        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati unde officiis veniam a. Itaque aut quis
            distinctio vero officia similique ipsa corrupti perspiciatis? Voluptates dolorum, at fugiat impedit illum
            natus.
        </div>
        <div>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati unde officiis veniam a. Itaque aut quis
            distinctio vero officia similique ipsa corrupti perspiciatis? Voluptates dolorum, at fugiat impedit illum
            natus.
        </div>
    </div>
</section>