<section class="slider-section">

    <div class="owl-carousel">
        <div>
            <div class="slider-section__item" style="background-image: url(../../img/100x100.png);">
                <div class="slider__inner">
                    <span class="slider__item text_big">853 S Lucerne Blvd</span>
                    <span class="slider__item text_secondary">
                        Los Angeles, CA 90005
                    </span>
                    <span class="slider__item text_big text_bright">$2,250,500</span>
                    <span>
                        <a class="slider__item link text_little text_wide" href="#">
                            БОЛЬШЕ ДЕТАЙЛЕЙ
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div class="slider-section__item" style="background-image: url(../../img/hero_bg_2.jpg);">
                <div class="slider__inner">
                    <span class="slider__item text_big">853 S Lucerne Blvd</span>
                    <span class="slider__item text_secondary">
                        Los Angeles, CA 90005
                    </span>
                    <span class="slider__item text_big text_bright">$2,250,500</span>
                    <span>
                        <a class="slider__item link text_little text_wide" href="#">
                            БОЛЬШЕ ДЕТАЙЛЕЙ
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div class="slider-section__item" style="background-image: url(../../img/map.jpg);">
                <div class="slider__inner">
                    <span class="slider__item text_big">853 S Lucerne Blvd</span>
                    <span class="slider__item text_secondary">
                        Los Angeles, CA 90005
                    </span>
                    <span class="slider__item text_big text_bright">$2,250,500</span>
                    <span>
                        <a class="slider__item link text_little text_wide" href="#">
                            БОЛЬШЕ ДЕТАЙЛЕЙ
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div class="slider-section__item" style="background-image: url(../../img/avatar.jpg);">
                <div class="slider__inner">
                    <span class="slider__item text_big">853 S Lucerne Blvd</span>
                    <span class="slider__item text_secondary">
                        Los Angeles, CA 90005
                    </span>
                    <span class="slider__item text_big text_bright">$2,250,500</span>
                    <span>
                        <a class="slider__item link text_little text_wide" href="#">
                            БОЛЬШЕ ДЕТАЙЛЕЙ
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div>
            <div class="slider-section__item" style="background-image: url(../../img/1920x700.png);">
                <div class="slider__inner">
                    <span class="slider__item text_big">853 S Lucerne Blvd</span>
                    <span class="slider__item text_secondary">
                        Los Angeles, CA 90005
                    </span>
                    <span class="slider__item text_big text_bright">$2,250,500</span>
                    <span>
                        <a class="slider__item link text_little text_wide" href="#">
                            БОЛЬШЕ ДЕТАЙЛЕЙ
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>

</section>