$primary: #000;
$primary-muted: #737373;
$secondary: #7cbd1e;
$light: #fff;
$light-muted: #ffffff80;

$bg-primary: #333333;
$bg-primary-muted: #f9f9f9;
$bg-secondary: #f89d13;
$bg-secondary-muted: #de8807;
